:root {
    --body-color: rgb(7, 7, 41);
    --text-hover: rgb(125, 125, 221);
    --purple-color: rgb(179, 69, 179);
    --header: rgb(18, 18, 80);
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
    color: var(--text);
    font-family: 'Poppins', sans-serif;
}

body header .navBar {
    display: flex;
    align-items: center;
    height: 12vh;
    position: relative;
    background-color: var(--header);
}

body header .navBar .headFlex {
    display: flex;
    z-index: 10;
    justify-content: space-around;
    height: 3vh;
    flex-wrap: wrap;
}

body header .navBar .headFlex #navBar button {
    position: fixed;
    margin-left: 1vw;
    top: 1.5vh;
    align-items: center;
    width: 2.6vw;
    cursor: pointer;
    float: left;
    font-size: 0.5vw;
}

body header .navBar .headFlex .heading {
    align-self: flex-end;
    font-size: 1.5rem;
    position: absolute;
    right: 1vw;
}

body header .navBar .leftNavSlide {
    background-color: var(--text);
    position: fixed;
    height: 100vh;
    left: 0%;
    top: 8.7vh;
    width: 15vw;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList {
    position: fixed;
    font-size: .51rem;
    left: 3vw;
    margin: 0.6vh .1vw;
    list-style-type: none;
}

body header .leftNavSlide .leftSideBar_un-orderedList #home,
body header .leftNavSlide .leftSideBar_un-orderedList #about,
body header .leftNavSlide .leftSideBar_un-orderedList #services,
body header .leftNavSlide .leftSideBar_un-orderedList #projects,
body header .leftNavSlide .leftSideBar_un-orderedList #contact {
    color: var(--body-color);
    display: inline-block;
    position: fixed;
    left: 0vw;
    margin: 1vh;
    cursor: pointer;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList li a {
    text-decoration: none;
    color: var(--body-color);
    font-size: .6rem
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList li a:hover {
    color: var(--purple-color);
    font-size: .8vw;
}

main .firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid .1px var(--text);
    width: 100vw;
}

main .firstSection .leftSection {
    position: absolute;
    left: 9vw;
    top: 7vh;
    font-size: 2rem;
    width: 47vw;
    height: 60vh;
}

main .firstSection .leftSection .purple {
    color: var(--purple-color);
}

main .firstSection .leftSection div {
    box-sizing: border-box;
    width: 30vw;
}

main .firstSection .leftSection #element {
    box-sizing: border-box;
    color: rgb(179, 69, 179);
}

main .firstSection .rightSection {
    position: absolute;
    right: 0;
    top: 7vh;
    width: 43vw;
    height: 60vh;
}

main .firstSection .rightSection img {
    width: 30vw;
    margin: 5vh 0;
}

@media screen and (min-width: 1280px) and (max-height: 1280px) {
    body header .navBar {
        height: 10vh;
    }

    body header .navBar .headFlex #navBar button {
        font-size: .7vw;
        width: 1.5vw;
        top: 2.5vh;
    }

    body header .navBar .leftNavSlide {
        width: 8vw;
        top: 6.2vh;
    }

    body header .navBar .leftNavSlide .leftSideBar_un-orderedList {
        margin: 0vh -1vw;
    }

    body header .leftNavSlide .leftSideBar_un-orderedList #home,
    body header .leftNavSlide .leftSideBar_un-orderedList #about,
    body header .leftNavSlide .leftSideBar_un-orderedList #services,
    body header .leftNavSlide .leftSideBar_un-orderedList #projects,
    body header .leftNavSlide .leftSideBar_un-orderedList #contact {
        margin: 0.5vh .5vw;
    }

    main .firstSection .leftSection {
        width: 47vw;
        height: 60vh;
        left: 9vw;
        top: 7vh;
    }

    main .firstSection .rightSection {
        top: 7%;
        width: 43vw;
        height: 60vh;
    }

}

@media screen and (max-width: 1260px) and (min-height: 300px) {
    body header .navBar {
        height: 3.5vh;
    }
}

body header .navBar .headFlex .heading {
    top: 0vh;
}

body header .navBar .headFlex #navBar button {
    font-size: 1vw;
    width: 1.5vw;
    top: 2vh;
}

body header .navBar .leftNavSlide {
    width: 12vw;
    top: 10.7vh;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList {
    margin: 0.01vh .1vw;
    font-size: 1.90vw;
    left: 1vw;
}

body header .leftNavSlide .leftSideBar_un-orderedList #home,
body header .leftNavSlide .leftSideBar_un-orderedList #about,
body header .leftNavSlide .leftSideBar_un-orderedList #services,
body header .leftNavSlide .leftSideBar_un-orderedList #projects,
body header .leftNavSlide .leftSideBar_un-orderedList #contact {
    margin: 2.5vh .5vw;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList li a {
    text-decoration: none;
    color: var(--body-color);
    font-size: 1.5vw;
    margin-left: 1.5vw;
    margin: 0vh 1.5vw;
    top: 0.3vh;
    position: relative;
}

main .firstSection .leftSection {
    width: 47vw;
    font-size: 2vw;
    height: 60vh;
    left: 15vw;
    top: 12vh;
}

main .firstSection .rightSection {
    top: 0vh;
    width: 36vw;
    height: 60vh;
}

@media screen and (min-width: 300px) and (max-height: 900px) {
    body header .navBar {
        height: 4vh;
    }
}

body header .navBar .headFlex .heading {
    bottom: 0vh;
}

body header .navBar .headFlex #navBar button {
    font-size: 1vw;
    width: 2vw;
    top: 2vh;
}

body header .navBar .leftNavSlide {
    width: 12vw;
    top: 4.2vh;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList {
    margin: 0.01vh .1vw;
    font-size: 1.90vw;
    left: 1vw;
}

body header .leftNavSlide .leftSideBar_un-orderedList #home,
body header .leftNavSlide .leftSideBar_un-orderedList #about,
body header .leftNavSlide .leftSideBar_un-orderedList #services,
body header .leftNavSlide .leftSideBar_un-orderedList #projects,
body header .leftNavSlide .leftSideBar_un-orderedList #contact {
    margin: .5vh .5vw;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList li a {
    text-decoration: none;
    color: var(--body-color);
    font-size: 1.5vw;
    margin-left: 1.5vw;
    margin: 0vh 1.5vw;
    top: 0.3vh;
    position: relative;
}

main .firstSection .leftSection {
    width: 47vw;
    font-size: 2vw;
    height: 60vh;
    left: 15vw;
    top: 5vh;
}

main .firstSection .rightSection {
    top: 0vh;
    width: 36vw;
    height: 60vh;
}

@media screen and (min-width: 300px) and (min-height: 350px) and (max-height: 1280px) and (max-width: 2060px) {
    body header .navBar {
        height: 4.5vh;
    }
}

body header .navBar .headFlex .heading {
    top: 0vh;
    font-size: 1vw;
}

body header .navBar .headFlex #navBar button {
    font-size: 0.5vw;
    width: 1vw;
    top: 1vh;
}

body header .navBar .leftNavSlide {
    width: 13vw;
    top: 5.13vh;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList {
    margin: 0.01vh .1vw;
    font-size: 1.90vw;
    left: 1vw;
}

body header .leftNavSlide .leftSideBar_un-orderedList #home,
body header .leftNavSlide .leftSideBar_un-orderedList #about,
body header .leftNavSlide .leftSideBar_un-orderedList #services,
body header .leftNavSlide .leftSideBar_un-orderedList #projects,
body header .leftNavSlide .leftSideBar_un-orderedList #contact {
    margin: 1.5vh .6vw;
}

body header .navBar .leftNavSlide .leftSideBar_un-orderedList li a {
    text-decoration: none;
    color: var(--body-color);
    font-size: 1.5vw;
    margin: 0vh 2.5vw;
    top: 0.3vh;
    position: relative;
}

main .firstSection .leftSection {
    width: 47vw;
    font-size: 2vw;
    height: 60vh;
    left: 15vw;
    top: 7vh;
}

main .firstSection .rightSection {
    top: 0vh;
    width: 36vw;
    height: 60vh;
}